<img class="invisible col-12" src="assets/jumbotron.gif" />

<!-- <div class="jumbotron-header-margin-top jumbotron-header-div col-10 col-offset-1">
  <h1 class="hidden jumbotron-header center">Designer, developer, Full Time Creative</h1>
</div> -->

