<div class="col-2 col-offset-5">
  <%= link_to (image_tag 'twitter-hex.png', class: "social-media-icon"), 'https://twitter.com/brunation11' %>
  <%= link_to (image_tag 'linkedin-hex.png', class: "social-media-icon"), 'https://www.linkedin.com/in/bruno-zatta-86597383
  ' %>
  <%= link_to (image_tag 'github-hex.png', class: "social-media-icon"), 'https://github.com/Brunation11' %>
</div>