<div class="main-content col-12">
    <div class="col-12 jumbotron-container">
      <%= render 'jumbotron' %>
    </div>
    <div class="col-8 col-offset-2 center quote-banner">
      <%= render 'quote_banner' %>
    </div>
    <div id="about" class="col-6 col-offset-3 about-container">
      <%= render 'about' %>
    </div>
    <div id="contact" class="col-12 social-media center">
      <%= render 'social_media' %>
    </div>
  </div>