<p>I am a graphic designer turned developer with experience building full stack web applications and a passion for creating projects that offer users like you and I unique and purposeful experiences. I became a full-stack web developer to create beautiful and meaningful things in a manner that print alone couldn’t. Whether I’m working in front-end or back-end, I love the ability to choose the right tool for the job and the opportunities it offers to grow both as an individual and as a developer.</p>


