<div id="post-index" class="project-content col-12">
  <div class="static-width">
    <div class="col-8 col-offset-2">
      <% @projects.each do |project| %>
        <%= render partial: "project_preview", locals: {project: project} %>
      <% end %>
    </div>
  </div>
</div>

<% if logged_in? %>
  <div class="col-12 center new-button">
    <%= link_to "New Project", new_project_path, id: "new-project", ajax_path: new_project_path, class: "button link" %>
  </div>
<% end %>