<div id="post-index" class="main-content col-12 static-width">
  <div class="col-10 col-offset-1">
    <% @posts.each do |post| %>
      <%= render partial: "post_preview", locals: {post: post} %>
    <% end %>
  </div>
</div>
<% if logged_in? %>
  <div class="col-12 center">
    <%= link_to "New Post", new_post_path, id: "new-post", ajax_path: new_post_path, class: "button link" %>
  </div>
<% end %>