.quote-banner {
  font-weight: 100;
  font-size: 1.55rem;
  line-height: 150%;
}

.bio-banner {
  font-size: 1.25rem;
  line-height: 150%;
  background: #000;
  color: #fff;
  padding: 4rem 0;
  margin: 4rem 0;
}

.about-container {
  border-top: 1px solid #232323;
}

.about-banner {
  width: 100%;
}

