.jumbotron-header-name {
  font-weight: 100;
  color: #fff;
}

.jumbotron-header {
  font-size: 1.75rem;
  font-weight: 100;
  color: #fff;
}

.jumbotron-container {
  /*background-image: url("/assets/jumbotron.gif");*/
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .9;
}

.jumbotron-header-div {
  margin-top: 150px;
}