.project-content {
  background: #F4F4F4;
  min-height: 100vh;
}

.project-card-container {
  padding-top: 2rem;
}

.project-card {
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  height: 350px;
  box-shadow: 2px 2px 5px #CBCBCB;
  font-size: .75rem;
  margin: .5rem;
  background: #fff;
}

.project-card:hover {
  opacity: .85;
}

.project-card:hover .project-link {
  color: #0074FF;
}

.project-card-image-container {
  height: 52%;
  overflow: hidden;
}

.project-card-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-card-meta {
  padding: 0 .5rem;
  height: 35%;
}

.project-meta-name {
  margin: .5rem 0;
  padding: .5rem 0;
  border-bottom: 1px solid #E2E2E2;
  font-size: 1.25rem;
}

.project-meta-description {
  height: 58%;
  margin: .25rem 0;
}

.project-stats {
  background: #F6F6F6;
  height: 10%;
  border-top: 1px solid #E2E2E2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-description {
  font-size: .75rem;
  line-height: 1.25rem;
}

.project-nav {
  margin: 2rem 0;
}

.project-link {
  text-decoration: none;
  color: #232323;
}
